PORT=3010
WHATSAPP_ACCESS_TOKEN=replace-me
WHATSAPP_PHONE_NUMBER_ID=replace-me
GOOGLE_API_KEY=replace-me
CALENDARIO_ID=replace-me
TELEFONE_HUMANO=replace-me
FUSO_HORARIO=America/Sao_Paulo
HORARIO_FUNCIONAMENTO=Segunda a Sexta das 9h às 18h
